[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jsonpath-ng = "*"
nose = "*"
coverage = "*"
lxml = "*"
sqlalchemy = "*"
rdflib = "*"
sparqlwrapper = "*"
requests = "*"
rdflib-jsonld = "*"
uritemplate = "*"
mypy = "*"
pycodestyle = "*"
pyshacl = "*"
parameterized = "*"
requests-file = "*"

[requires]
python_version = "3.8"
